#nav {
	background-color: pink;
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
}

ul.list-nav, ul.list-nav-secondary {
	display: flex;
	list-style-type: none;
}

li.item-nav {
	margin: 20px 30px;
}

li.item-nav:first-of-type {
	margin-left: 0;
}

a, a:visited {
	color: #7b31b5;
}

a:hover {
	color: #1b0d26;
	text-decoration-color: white;
}

u {
	text-decoration-color: white;
}
