:root {
	--primary-font: andale mono, monospace;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	display: flex;
	flex-direction: column;
	font-family: var(--primary-font);
	height: 100vh;
}

main {
	overflow: auto;
}

.container-large {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
}

.container {
	margin: 0 auto;
	width: 90%;
}